@{
    ViewData["Title"] = "(NOMBRE_APLICACION)";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a (NOMBRE_APLICACION)</h1>
    <br />
    <br />
    <p>Aqui podras encontrar todas las peliculas, obtener información sobre ellas y hacer un seguimiento de las peliculas vistas
        y las que te gustaría ver.
    </p>

</div>
