@{
    ViewData["Title"] = "Movie APP";
}

<div class="text-center">
    <h2 class="display-5">Bienvenidos al mejor sitio de Películas</h2>
    <br/>
    
    <img src="~/img/fanas.png" alt="Fanas"class="sombra"/><h1 class= "display-1 titulo">Fanatic-ORTs de Pelis</h1>
    
    <br />
    <h3"> Todas las peliculas y la mejor información para fanáticos<h3>
</div>
