@{
    ViewData["Title"] = "Movie APP";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Movie APP</h1>
    <h3 style="margin-top:300px;">Aqui podras encontrar todas las peliculas, obtener información sobre ellas y hacer un seguimiento de las peliculas vistas
        y las que te gustaría ver.
    </h3>

</div>
