.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.details_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    width: 100px;
    height: 100px;
}

